<div class="share-wrapper">
  <div class="flexbox row share-segment">
    <div class="social-out">
      <a href="https://www.facebook.com/Axis2000">
        <img class="share-social" src="{{asset "/images/facebook-icon.png"}}"></a>
    </div>
    <div class="social-out">
      <a href="https://www.instagram.com/theaxis2000/">
        <img class="share-social" src="{{ asset "/images/instagram-icon.png"}} "></a>
    </div>
  </div>
  <div class="flexbox row share-segment">
    <div class="contact-item">
      <p class="label">POST OFFICE MAIL</p>
      <p class="title">The AXIS 2000</p>
      <p class="addy">72 E. 2nd Street, Mineola, NY  11501</p>
    </div>
    <div class="contact-item">
      <p class="label" >CUSTOMER SERVICE</p>
      <p class="title" >Peter</p>
      <p class="addy" >800-445-0525</p>
    </div>
    <div class="contact-item">
      <p class="label" >SALES</p>
      <p class="title" >Greg</p>
      <p class="addy" >800-445-0525</p>
    </div>
    <div class="contact-item">
      <p class="label" >EMAIL</p>
      <p  class="addy"><a href="mailto:sales@theAxis2000.com?Subject=Axis%20connection" style="color: orange;">sales@theAxis2000.com</a></p>
    </div>
  </div>
</div>
